
.about-section-1 {
  padding: 10%;
  background: #FFFAE6;
  font-family: 'Poppins', sans-serif;
}


.aboutContentBox {
  display: flex;
  padding: 0 15% 5% 15%;
  gap: 5%;
  align-items: center;
  justify-content: space-between;
  background: #FF9F66;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  animation: fadeIn 1.5s ease-in;
}


.img-profile {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 5px solid aquamarine;
  transition: transform 0.3s ease-in-out;
}

.img-profile:hover {
  transform: scale(1.05);
}


.aboutContent h1 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 800;
  font-size: 2rem;
  color: #3498db;
  margin-bottom: 20px;
}

.aboutContent p {
  font-size: 1.2rem;
  color: #555;
}

.aboutContent span {
  font-size: 1.5rem;
  color: #e67e22;
  font-weight: 600;
}


.brief-intro {
  display: flex;
  margin: 0% 0% 0% 0%;
  padding: 1.2% 15% 5% 15%;
  gap: 5%;
  align-items: center;
  justify-content: space-between;
  background: #FF9F66;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  animation: fadeIn 1.5s ease-in 0.5s;
}

.brief-title {
  font-family: 'Source Code Pro', monospace;
  font-weight: 800;
  font-size: 2.5rem;
  color: #002379;
  margin-bottom: 20px;
}

.brief-para {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.5;
}


@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
