.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  padding: 20px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button.linkedin {
  background-color: #0077b5;
  color: white;
}

.contact-button.linkedin:hover {
  background-color: #005582;
}

.contact-button.github {
  background-color: #171515;
  color: white;
}

.contact-button.github:hover {
  background-color: #333333;
}

.contact-button.email {
  background-color: #4caf50;
  color: white;
}

.contact-button.email:hover {
  background-color: #357a38;
}
