nav {
  display: flex;
  justify-content: space-between;
}
.navbar-parent{
  background-color: #3AA6B9;
}
.initial{
  color: #FF5F00;
  border-radius: 15px; 
  font-weight: 900;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  
  justify-content: space-between; 
  align-items: center;
}
nav span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 660;
  font-style: normal;
  padding: 0 10%;
  font-size: 1.5rem;
}

.navbar {
  list-style: none;
  display: flex;
  margin-right: 15%;
  font-size: 1.2rem;
}

.nav-item {
  margin: 0 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.nav-item a {
  color: white;
  text-decoration: none;
  padding: 5px 0;
}

.nav-item a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: white;
  transition: width 0.5s ease-in-out;
}

.nav-item a:hover::after {
  width: 100%;
}

.home::before {
  content: url('/src/assets/icons/home_24dp_FILL0_wght400_GRAD0_opsz24.svg');
  width: 30px;
  height: 20px;
  margin-top: 2px;
}

.about::before {
  content: url('/src/assets/icons/sensor_occupied_24dp_FILL0_wght400_GRAD0_opsz24.svg');
  display: inline-block;
  width: 30px;
  height: 20px;
  margin-top: 2px;
}

.project::before {
  content: url('/src/assets/icons/developer_mode_tv_24dp_FILL0_wght400_GRAD0_opsz24.svg');
}

.resume::before {
  content: url('/src/assets/icons/lab_profile_24dp_FILL0_wght400_GRAD0_opsz24.svg');
}

.contact::before {
  content: url("/src/assets/icons/contactmail.svg");
}

