.typing-effect {
  font-family: "Jersey 25 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.6rem;
  padding: 15% 0 0 15%;
  max-width: 40%;
  flex: 1;
}

.typewriter {
  display: flex;
}

.home-img1 {
  height: 600px;
  width: 600px;
  margin-top: 50px;
}

.const-text{
 color: #002379;
}

.displaying-text {
  color: #ff8c00; 
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.caret {
  animation: blink 0.5s step-start infinite;
}
